<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operadora de TV</title>
    <link rel="stylesheet" type="text/css" href="assets/css/base.css">
    <link rel="stylesheet" type="text/css" href="assets/css/listado.css">
</head>
<body>
    <header>
        <div class="logotipo">
            <img src="imagenes/operadoranumero1.png" width="250" alt="">
        </div>
        <nav>
          <ul>
              <li><a href="backend.php?controller=BaseController&action=backend">Home</a></li>
            {% if(user) %}
              <li>{{ user.nombreusuario }}</li>
              <li><a href="backend.php?controller=SessionController&action=destroy">log out</a></li>
            {% else %}
              <li><a href="backend.php?controller=SessionController&action=create">iniciar Sesion</a></li>
            {% endif %}

          </ul>
        </nav>
    </header>
    <section class="main">
      <h3 class="center">CANALES</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Numero</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for c in canales %}
            <tr>
              <td> {{c.nombre}}</td>
              <td> {{c.numero}}</td>
              <td>
              <a href='backend.php?controller=CanalController&action=destroy&id={{c.id}}'> eliminar </a> |
              <a href='backend.php?controller=CanalController&action=edit&id={{c.id}}'> editar </a> 
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </section>
    <footer>
        <p>Autores: Otero Llambay Mariano, Isaac Garcia</p>
    </footer>
</body>
</html>
