<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/base.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  <body>
  <header>
    <div>
      <img src="../imagenes/logo.svg" width="80" alt="LogoTipo">
    </div>
    <nav>
      <ul>
        {% if(user) %}
          <li><a href="index.php?controller=UserController&action=show&id={{ user.id }}">{{ user.nombre }}</a></li>
          <li><a href="index.php?controller=SessionController&action=destroy">log out</a></li>
        {% else %}
          <li><a href="index.php?controller=UserController&action=create">registrarse</a></li>
          <li><a href="index.php?controller=SessionController&action=create">iniciar Sesion</a></li>
          <li><a href="index.php?controller=LibroController&action=create">Dar de alta a un libro</a></li>
          <li><a href="index.php?controller=AutorController&action=create">Dar de alta a un autor</a></li>
        {% endif %}

      </ul>
    </nav>
  </header>


  <h3>BUSQUEDA DE LIBROS</h3>
  <form action="index.php" name="findBookForm" method="get">
    <input type="hidden" name="controller" value="LibroController"/>
    <input type="hidden" name="action" value="findBook"/>
    <input type="text" name="book" id="book" placeholder="por titulo">
    <input type="text" name="autor" id="autor" placeholder="por autor">
    <input type="submit" name="btn" id="btn" value="BUSCAR">
  </form>



  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">PORTADA</td>
        <th scope="col">TITULO</td>
        <th scope="col">AUTOR</td>
        <th scope="col">EJEMPLARES</td>
      </tr>
    </thead> 
    <tbody>
      {% for libro in libros %}
        <tr>
          <td scope="row">{{ libro.portada }} </td>
          <td><a href="index.php?controller=LibroController&action=show&id={{libro.id}}">{{ libro.titulo }} </td>
          <td>{{ libro.nombre }}, {{ libro.apellido }} </td>
          <td>{{ libro.cantidad }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</html>
