
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operadora de TV</title>
    <link rel="stylesheet" type="text/css" href="assets/css/base.css">
    <link rel="stylesheet" type="text/css" href="assets/css/backend_home.css">
    <link rel="stylesheet" type="text/css" href="assets/css/listado.css">
</head>
<body>


    <header>
        <div class="logotipo">
            <img src="imagenes/operadoranumero1.png" width="250" alt="">
        </div>
        <nav>
          <ul>
              <li><a href="backend.php?controller=SessionController&action=create">iniciar Sesion</a></li>
              <li><a href="backend.php?controller=SessionController&action=index">HOME</a></li>
          </ul>
        </nav>
    </header>

    <section class="main">
      <div class="error">
        {% if(error) %}
        <span>{{error}}</span>
        {% endif %}
      </div>
      <div class="center">
        <h3 class="center">Programacion Del dia {{fecha}}</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Programaa</th>
              <th>Hora Inicio</th>
              <th>Duracion</th>
              <th>Fecha</th>
              <th>Informacion</th>
            </tr>
          </thead>
          <tbody>
            {% for p in programas %}
              <tr>
                <td> {{ p.nombre }}</td>
                <td> {{ p.horainicio }}</td>
                <td> {{ p.duracion }}</td>
                <td> {{ p.fecha}}</td>
                <td>
                  <a href='index.php?controller=ProgramaController&action=showIndex&id={{p.id}}'> descripcion </a> 
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <a href='index.php?controller=BaseController&action=anterior&fecha={{fecha}}'>
          < Dia Anterior
        </a> |
        <a href='index.php?controller=BaseController&action=siguiente&fecha={{fecha}}'>
          Siguiente Dia >
        </a>

        <form action="index.php" name="busquedaPorFecha" id="busquedaPorFecha" method="post">
          <input type="hidden" name="controller" value="BaseController"/>
          <input type="hidden" name="action" value="indexPorFecha"/>
          <h2>BUSCAR PROGRAMAS POR FECHA</h2>
          <label for="name">Nueva Categoria</label>
          <input type="date" name="fecha" id="fecha"></input>
          <input type="submit" name="btn" id="btn" value="registrar">
        </form>
      </div>
    </section>

    
    <footer>
        <p>Autores: Otero Llambay Mariano, Isaac Garcia</p>
    </footer>

</body>
</html>
